.underhover-light {
  width: fit-content;
  text-decoration: none;

  &:after {
    content: ' ';
    display: block;
    height: 2.3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }

  &:hover:after {
    width: 100%;
    background: white;
  }
}

.underhover-dark {
  width: fit-content;
  text-decoration: none;

  &:after {
    content: ' ';
    display: block;
    height: 2.3px;
    width: 0;
    background: transparent;
    transition: width 0.5s ease-in-out, background-color 0.5s ease-in-out;
  }

  &:hover:after {
    width: 100%;
    background: #121212;
  }
}
